In [1]:
import pandas as pd
import numpy as np

import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

from google.colab import files

In [4]:
uploaded = files.upload()

Saving TSSData_20201017.csv to TSSData_20201017.csv

In [2]:
traffic = pd.read_csv('TSSData_20201017.csv')

In [3]:
traffic.head()

   numberOfFeatures                 timeStamp  ... ns2:nodeid ns2:sample_period
0              3354  2020-10-18T02:59:37.722Z  ...        0.0                60
1              3354  2020-10-18T02:59:37.722Z  ...        NaN                60
2              3354  2020-10-18T02:59:37.722Z  ...        7.0                60
3              3354  2020-10-18T02:59:37.722Z  ...        2.0               300
4              3354  2020-10-18T02:59:37.722Z  ...        8.0                60

[5 rows x 20 columns]

In [4]:
traffic.describe()

       numberOfFeatures   ns2:lanenum  ...    ns2:nodeid  ns2:sample_period
count           80496.0  80496.000000  ...  62232.000000       80496.000000
mean             3354.0      1.577818  ...      1.998843         194.311270
std                 0.0      1.305949  ...      2.140566         128.839773
min              3354.0      0.000000  ...      0.000000          60.000000
25%              3354.0      1.000000  ...      0.000000          60.000000
50%              3354.0      1.000000  ...      1.000000         300.000000
75%              3354.0      2.000000  ...      3.000000         300.000000
max              3354.0     10.000000  ...     10.000000         900.000000

[8 rows x 9 columns]

In [35]:
keep_cols = ['timeStamp', 'ns2:lanenum', 'ns2:occupancy', 'ns2:speed', 'ns2:volume', 'ns2:sample_period']

In [36]:
# traff = traffic[traffic['ns3:id'] == 'tss_detector_status.OpenTMS-Detector-580523190-7'][keep_cols]
traff = traffic[keep_cols]
traff['hour'] = pd.to_datetime(traff['timeStamp']).apply(lambda x: x.hour)
traff['min'] = pd.to_datetime(traff['timeStamp']).apply(lambda x: x.minute)
traff.drop('timeStamp', axis=1, inplace=True)
traff.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4169: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

   ns2:lanenum  ns2:occupancy  ns2:speed  ...  ns2:sample_period  hour  min
0            1              2         49  ...                 60     2   59
1            2              7         57  ...                 60     2   59
2            3              3         64  ...                 60     2   59
3            2              1         71  ...                300     2   59
4            4              1         65  ...                 60     2   59

[5 rows x 7 columns]

In [37]:
train_dataset = traff.sample(frac=0.8, random_state=0)
test_dataset = traff.drop(train_dataset.index)

In [38]:
train_features = train_dataset.copy()
test_features = test_dataset.copy()

train_labels = train_features.pop('ns2:occupancy')
test_labels = test_features.pop('ns2:occupancy')

In [42]:
model = keras.Sequential(
    [
        layers.InputLayer(input_shape=(6,)),
        layers.Dense(30, activation="relu", name="layer1"),
        layers.Dense(30, activation="relu", name="layer2"),
        layers.Dense(1, name="layer3"),
    ]
)

model.build((6, 1))
model.summary()

Model: "sequential_9"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
layer1 (Dense)               (None, 30)                210
_________________________________________________________________
layer2 (Dense)               (None, 30)                930
_________________________________________________________________
layer3 (Dense)               (None, 1)                 31
=================================================================
Total params: 1,171
Trainable params: 1,171
Non-trainable params: 0
_________________________________________________________________

In [43]:
model.compile(
    optimizer=tf.optimizers.Adam(learning_rate=0.1),
    loss='mean_absolute_error')

In [44]:
history = model.fit(
    train_features, train_labels,
    epochs=10,
    validation_split = 0.2)

Epoch 1/10
1610/1610 [==============================] - 2s 1ms/step - loss: 4.2409 - val_loss: 2.8330
Epoch 2/10
1610/1610 [==============================] - 2s 1ms/step - loss: 3.0638 - val_loss: 2.8316
Epoch 3/10
1610/1610 [==============================] - 2s 1ms/step - loss: 2.8275 - val_loss: 2.8405
Epoch 4/10
1610/1610 [==============================] - 2s 1ms/step - loss: 2.8296 - val_loss: 2.8770
Epoch 5/10
1610/1610 [==============================] - 2s 1ms/step - loss: 2.8272 - val_loss: 2.8371
Epoch 6/10
1610/1610 [==============================] - 2s 1ms/step - loss: 2.8283 - val_loss: 2.8557
Epoch 7/10
1610/1610 [==============================] - 2s 1ms/step - loss: 2.8283 - val_loss: 2.8432
Epoch 8/10
1610/1610 [==============================] - 2s 1ms/step - loss: 2.8291 - val_loss: 2.8356
Epoch 9/10
1610/1610 [==============================] - 2s 1ms/step - loss: 2.8276 - val_loss: 2.8340
Epoch 10/10
1610/1610 [==============================] - 2s 1ms/step - loss: 2.8302 - val_loss: 2.8409

       numberOfFeatures   ns2:lanenum  ...    ns2:nodeid  ns2:sample_period
count           80496.0  80496.000000  ...  62232.000000       80496.000000
mean             3354.0      1.577818  ...      1.998843         194.311270
std                 0.0      1.305949  ...      2.140566         128.839773
min              3354.0      0.000000  ...      0.000000          60.000000
25%              3354.0      1.000000  ...      0.000000          60.000000
50%              3354.0      1.000000  ...      1.000000         300.000000
75%              3354.0      2.000000  ...      3.000000         300.000000
max              3354.0     10.000000  ...     10.000000         900.000000

[8 rows x 9 columns]

In [12]:
model = keras.Sequential()
# Add an Embedding layer expecting input vocab of size 1000, and
# output embedding dimension of size 64.
model.add(layers.Embedding(input_dim=1000, output_dim=64))

# Add a LSTM layer with 128 internal units.
model.add(layers.LSTM(128))

# Add a Dense layer with 10 units.
model.add(layers.Dense(10))

model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, None, 64)          64000
_________________________________________________________________
lstm (LSTM)                  (None, 128)               98816
_________________________________________________________________
dense (Dense)                (None, 10)                1290
=================================================================
Total params: 164,106
Trainable params: 164,106
Non-trainable params: 0
_________________________________________________________________